@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-brand-background text-brand-primary font-body antialiased;
  }

  ::selection {
    background: rgba(200, 177, 149, 0.4);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
